$ColorRed: "#bb4430";

* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  background-color: #fffcec;
}

.bg-img-top{
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.Pf{
  background-color: #bb4430;
}

.Sf{
  background-color: #ED9B28;
}

.Tf{
  background-color: #15898D;
}

.Nav{
  height: 700px;
}

/*font color*/
.fc{
  color: #fffcec;
}

a{
  color: #fffcec !important;
  text-decoration: none !important;
}

.MT{
  margin-top: 6rem;
}

.fsOverskriftDesktop{
  font-size: 4rem;
}

.HeigtBox{
  height: 200px;
}

.HeightUnderBox{
  height: 3rem;
}

.btn{
  background-color: #ed9b28 !important;
  color: #fffcec !important;
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem !important;
}

.img-aktuel{
  object-fit: cover;
  width: 100%;
  height: auto;
}

.aktuelbox{
  height: 150px;
}

.Footer{
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.fontsizebig{
  font-size: 50px;
}
